.slider-img {
	width: 100%;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trending-movie-name{
    text-align: center;
}
.slider {
	padding-left: 30px;
	padding-right: 30px;
}
.slick-prev:before,

.slick-next:before {
	color: black;
}
.trending-heading {
	color: black;
	font-size: 24px;
	font-family: HK Grotesk;
	font-weight: 600;
	margin: 0px;
	padding-left: 50px;
    text-align: center;
	padding-bottom: 10px;
}
@media screen and (min-width:768px) {
    .trending-heading{
        text-align: left;
    }
}
.trending-container {
	padding: 10px;
}
.loader-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}